@model IEnumerable<Beanbrew.Models.BakedGood>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BakedGoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BakedGoodType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BakedGoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BakedGoodType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BakedGoodsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BakedGoodsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BakedGoodsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
