@model IEnumerable<Beanbrew.Models.SpaceBooking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSlot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customers.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurants.RestaurantId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SpaceBookingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SpaceBookingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SpaceBookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
